.trending-movies {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling effect */
    padding: 5px; /* Optional: Add some padding */
}

.trending-movies::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height */
}

.trending-movies::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize scrollbar color */
    border-radius: 4px; /* Rounded edges for scrollbar */
}

.trending-movies::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

.trending-movie {
    flex: 0 0 auto; /* Prevent items from shrinking or growing */
    width: 200px; /* Adjust item width */
    text-align: center;
}

.info{
    background-color: #2B2C28;
}

.info h1{
    font-size: 2em;
    padding: 2em;
}

.bottom{
    padding-bottom: 2em;
}

.recentReleases h3{
    color: white;
    text-decoration: none;
}